
<ul>
    <div class="w3_search">
        <form action="/bbAPI/buscar/" method="post">
        {% csrf_token %}
            <input type="text" id= "buscar" name="buscar" placeholder="Personaje a buscar" autofocus required>
            <input type="submit" value="Buscar Personaje">
        </form>
    </div>
{% if serie == "bb" %} 
    <h2> Capítulos Temporada {{temporada}} Breaking Bad</h2>
{% endif %}   
{% if serie == "bcs" %} 
    <h2> Capítulos Temporada {{temporada}} Better Call Saul</h2>
{% endif %} 
{% for capitulo in r %}
    {% if serie == "bb" and  capitulo.series == "Breaking Bad" and capitulo.season == temporada %} 
        <li>{{capitulo.episode}} .-<a href="/bbAPI/bb/{{ temporada }}/{{capitulo.episode_id}}"> {{ capitulo.title }} </a></li>
    {% endif %}
    {% if serie == "bcs" and capitulo.series == "Better Call Saul" and capitulo.season == temporada %} 
        <li>{{capitulo.episode}} .-<a href="/bbAPI/bcs/{{ temporada }}/{{capitulo.episode_id}}">  {{ capitulo.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>