
<ul>
    <div class="w3_search">
        <form action="/bbAPI/buscar/" method="post">
        {% csrf_token %}
            <input type="text" id= "buscar" name="buscar" placeholder="Personaje a buscar" autofocus required>
            <input type="submit" value="Buscar Personaje">
        </form>
    </div>

{% for capitulo in r %}
    {% if capitulo.episode_id == episodio %} 
        <h2>  {{capitulo.title}} </h2>
        <li> Capítulo n° {{capitulo.episode }} de la Temporada {{ capitulo.season }} de  {{capitulo.series}} </a></li>
        <li> Este capítulo fue emitido por primera vez el día {{ capitulo.air_date }} </a></li>
        <li> Personajes: </a></li>
        <ul>
            {% for personaje in capitulo.characters %}
                <li><a href="/bbAPI/{{ personaje }}/"> {{personaje}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
</ul>